*{
    background-color: white;
    text-align:center;
}

.container{
    background-color: green;
    display:flex;
    flex-wrap: wrap;
}

.box{
    background-color: red;
    border: 5px solid orange;
    margin: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: cursive;

}
.absolute{
    background-color: aqua;
    position:absolute;
    top: 400px;
    left: 400px

}

.relative{
    background-color: burlywood;
    position: relative;
    
}

.fixed{
    background-color: greenyellow;
    /* position: fixed */
}

.sticky{
    background-color: royalblue;
    position: sticky
}

.sticky{
    background-color: grey;

}

.sticky{
    background-color: yellow;

}

.sticky{
    background-color: pink;

}

a {
    text-decoration: none;
    position: relative;
}
a:after {
    content: " ";

    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;

    border-width: 0 0 1px;
    border-style: solid;
}

uiyuiyudfg